<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Weather ForCats</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary mt-0">
  <a class="navbar-brand" href="/"><strong>Weather ForCats</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/forecast">Current Weather</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown multi-level-dropdown">
        <a href="/about" id="menu" data-toggle="dropdown" class="nav-link dropdown-toggle w-100">About</a>
        <ul class="dropdown-menu mt-2 rounded-0 primary-color border-3 z-depth-1">
          <li class="dropdown-item dropdown-submenu ">
            <a href="{% url 'bio' %}" class="text-black w-100">BeGeos</a>
          <li class="dropdown-item dropdown-submenu">
            <a href="{% url 'API' %}" class="text-black w-100">OpenWeatherAPI</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

    <!-- Links -->
<!--    <form class="form-inline">-->
<!--      <div class="md-form my-0">-->
<!--        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--      </div>-->
<!--    </form>-->
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->

{% block content %}

{% endblock %}

<!-- Footer -->
<footer class="page-footer font-small grey">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">@BeGeos
    <a href="https://github.com/BeGeos"> Github </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
