{% extends 'base.html' %}


{% block content %}
    <div class="main-page">
        <div class="icon-start">
            <img src="/media/weather.jpg" alt="intro">
        </div>
        <div class="texts">
            <h1><strong>Weather ForCats</strong></h1>
                <p>Hi All, good people!</p>
                <p>This is a simple website or web app for weather forecasts, and FYI yes the misspelling is intentional.
                    It was created entirely with Django framework and represents the first of many (I hope) experiments.
                    Just go to the current page and type in the city, what you'll get is the current weather.
                    There are many things that could be updated like weekly forecasts, updates and alerts.
                    It will all be done soon.
                </p>
        </div>

        </div>
    </div>
{% endblock %}

