{% extends 'base.html' %}


{% block content %}
    <div class="main-page">
        <h1>BeGeos</h1>
        <p>Let me introduce myself. I am a new programmer. I would like to become a full stack developer.
            I have been experimenting with Django framework and this website is written in Python, HTML and CSS.
            If you want to take a look at the source code behind this web app just visit my Github account,
            the link is down below. Feel free to leave a comment and tell me what you think about this site.
            How to improve it, and new ideas for other features this website should have.
        </p>
    </div>
{% endblock %}